input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
	height: 0px;
    width: 0px;
    -webkit-appearance: none;
    margin-top: -4px;
    border-top: solid 20px #33CCCC;
    border-left: solid 10px rgba(0,0,0,0);
    border-bottom: solid 0px #33CCCC;
    border-right: solid 10px rgba(0,0,0,0);
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

body {
    font-size: 10px;
}

#container {
    width: 800px;
    margin: 0px auto;
}

#slider, #slider_2, #slider_3 {
	height: 50px;
}

#slider_2 {
    display: none;
}

#slider_3 {
    display: none;
}


.rangeInput {
	width: 730px;
    margin-top: 20px;
}

.dateview {
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
	padding: 5px;
    font-family: "Roboto" ;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    background-color: white;
}

#tooltip {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: "Roboto";
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    background-color: white;
}

#add_year {
    width: 30px;
    height: 30px;
    line-height: 32px;
    margin: 0px auto;
    margin-bottom: 20px;
    padding: 4px 5px 5px 4px;
    font-family: "Roboto";
    font-size: 400%;
    font-weight: bold;
    color: rgb(97, 97, 97);
    text-align: center;
    border: 3px solid rgb(192, 192, 192);
    border-radius: 50%;
    background-color: white;
}

#year_input_1 {
    display: none;

}

#popup {
    display: none;
    background-color: rgba(120,120,120,0.5);
    position: fixed;
    width: 150px;
    height: 150px;
}

.yearName {
    font-size: 150%;
}

.closeButton {
    background-color: red;
}

.yearButton {
    width: 100%;
}