input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 6px;
    background: rgba(0,0,0,0.0);
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
	height: 0px;
    width: 0px;
    -webkit-appearance: none;
    margin-top: -10px;
    border-top: solid 20px #5A5C5A;
    border-left: solid 7px rgba(0,0,0,0);
    border-bottom: solid 0px #5A5C5A;
    border-right: solid 7px rgba(0,0,0,0);
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    /* background: linear-gradient(to right, #f2f2f2, #c4c4c4, #9b9b9b, #6d6d6d, #424242); */
    /* background: repeating-linear-gradient(to right, red, yellow 1%, green 1%); */
    background: rgba(0,0,0,0.0);
}

#rangeInput2004 { 
    background: red; 
} 

body {
    font-size: 10px;
}

#container {
    width: 800px;
    margin: 0px auto;
}

.rangeInput {
	width: 730px;
    margin-top: 30px;
}

.dateview {
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
	padding: 5px;
    padding-bottom: 10px;
    font-family: "Roboto" ;
    border: 0px solid rgb(192, 192, 192);
    border-radius: 2px;
    background-color: red;
}

#tooltip {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: "Roboto";
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    background-color: white;
}

#add_year {
    width: 30px;
    height: 30px;
    line-height: 32px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 4px 5px 5px 4px;
    font-family: "Roboto";
    font-size: 400%;
    font-weight: bold;
    color: rgb(97, 97, 97);
    text-align: center;
    border: 3px solid rgb(192, 192, 192);
    border-radius: 50%;
    background-color: white;
}

#add_year:hover {
    border: 5px solid rgb(192, 192, 192);
}

#year_input_1 {
    display: none;

}

#popup {
    display: none;
    position: fixed;
    width: 100px;
    height: 300px;
    padding: 37px;
}

.yearName {
    font-size: 150%;
    font-family: Roboto;
}

.closeButton {
    background-color: #EFEFEF;
    border: 1px solid;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 3px;
}

.closeButton:hover {
    border: 2px solid;
}

.yearButton {
    width: 100%;
    border-radius: 10px solid;
    background-color: #EFEFEF;
    border-radius: 5px;
    border: 1px solid;
    font-family: Roboto;
    margin: 2px;
    padding: 3px;
}

.yearButton:hover {
    border: 2px solid;
}

.closeYearButton {
    width: 100%;
    border-radius: 10px solid;
    background-color: #FF8277;
    border-radius: 5px;
    border: 1px solid;
    font-family: Roboto;
    margin: 2px;
    margin-top: 10px;
    padding: 3px;
}

.closeYearButton:hover {
    border: 2px solid;
}

#clearGraphButton {
    border-radius: 10px solid;
    
    border: 1px solid;
    font-family: Roboto;
    border-radius: 5px;
    /* margin: 2px; */
    margin-top: 10px;
    padding: 3px;
    float: right;
    /* margin-bottom: -33px; */
    margin-right: 8px;
}

#clearGraphButton:hover {
    border: 2px solid;
}